name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
        cache-dependency-path: 'package-lock.json'

    - name: Install Dependencies
      run: |
        npm ci

    - name: Lint
      run: |
        npx nx run-many --target=lint --all

    - name: Test
      run: |
        npx nx run-many --target=test --all

    - name: Build
      run: |
        npx nx run-many --target=build --all



